
.Rproj.user/shared/notebooks/paths
.Rproj.user/88744D6B/pcs/source-pane.pper
.RData
.Rhistory
.Rproj.user/88744D6B/pcs/files-pane.pper
.Rproj.user/88744D6B/pcs/windowlayoutstate.pper
.Rproj.user/88744D6B/pcs/workbench-pane.pper
.Rproj.user/88744D6B/rmd-outputs
.Rproj.user/88744D6B/saved_source_markers
.Rproj.user/88744D6B/sources/prop/15B0A4F9
.Rproj.user/88744D6B/sources/prop/511D51D4
.Rproj.user/88744D6B/sources/prop/909FA795
.Rproj.user/88744D6B/sources/prop/DE559921
.Rproj.user/88744D6B/sources/prop/F8562C12
.Rproj.user/88744D6B/sources/prop/INDEX
.Rproj.user/88744D6B/sources/session-8853ef21/0DA62EBF
.Rproj.user/88744D6B/sources/session-8853ef21/0DA62EBF-contents
.Rproj.user/88744D6B/sources/session-8853ef21/30DE5AAA
.Rproj.user/88744D6B/sources/session-8853ef21/30DE5AAA-contents
.Rproj.user/88744D6B/sources/session-8853ef21/5B3DD719-contents
.Rproj.user/88744D6B/sources/session-8853ef21/A162076C-contents
.Rproj.user/88744D6B/sources/session-8853ef21/FC55C9A4
.Rproj.user/88744D6B/sources/session-8853ef21/FC55C9A4-contents
.Rproj.user/88744D6B/sources/session-8853ef21/lock_file
.Rproj.user/88744D6B/viewer-cache/407F79A6.Rdata
.Rproj.user/shared/notebooks/patch-chunk-names
